@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0a0a0a, #1c1c1f);
    overflow: hidden;
    color: #fff;
}

.background-login {
    width: 100%;
    max-width: 380px;
    position: relative;
}

.login-card {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Título */
.login-card h1 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    color: #e6e6e6;
}

/* Etapa do usuário */
#etapa-usuario {
    display: flex;
    flex-direction: column;
    gap: 12px;             
    margin-bottom: 12px;   
}

#etapa-usuario input {
    margin-bottom: 12px;   
}

/* Etapa da senha */
#etapa-senha {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 12px;            
    margin-top: 25px;  
    text-align: center; 
}

#etapa-senha label {
    margin-bottom: 6px;
}

#etapa-senha input {
    margin-bottom: 25px;  
}

#etapa-senha button {
    margin-top: 6px;      
}

#etapa-senha.show {
    opacity: 1;
}

/* Labels gerais */
label {
    font-size: 0.85rem;
    color: #bfc3c7;
}

/* Inputs gerais */
input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
}

input::placeholder {
    color: #9ab7c8;
    opacity: 0.7;
    letter-spacing: 1px;
}

/* Botões gerais */
button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #00aaff;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0088cc;
    box-shadow: 0 0 12px #00aaff;
}

/* Link de registro */
.register {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.register a {
    color: #00aaff;
    text-decoration: none;
    transition: 0.2s;
}

.register a:hover {
    text-decoration: underline;
}

/*caixa login*/
#loading-box {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(255,255,255,0.08);
    padding: 12px 18px;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.15);
    color: #fff;
    font-size: 14px;
    animation: fadeIn .9s ease;
}
